@import 'normalize',
        'variables',
        'mixins',
        'slick';




// ---------------------------------------FONTS
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&display=swap');

@font-face {
    font-family: ProximaNova;
    src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot);
    src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.svg#wf) format("svg");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: ProximaNova;
    src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot);
    src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.svg#wf) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: ProximaNova;
    src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot);
    src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.svg#wf) format("svg");
    font-weight: 700;
    font-style: normal
}





// --------------------------------------------BASIC
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    height: 100%;
    scroll-behavior: smooth;
    @media screen and (max-width: 1024px) {
        overflow-x: hidden;
    }
    @media screen and (max-width: 768px) {
        overflow-x: hidden;
    }
}

body {
    font-family: ProximaNova;
    min-height: 100%;
    font-size: 1.8rem;
    line-height: 1.6;
    color: #333;
    overflow-x: hidden;
    @media screen and (max-width: 768px) {
        overflow-x: hidden;
    }
}

.container {
    max-width: 1170px;
    width: 90%;
    margin: 0 auto;
}





// ----------------------------------------HEADER
.header {
    height: 100vh;
    width: 100%;
    background-color: $bg-color;
    background-image: url(../img/header/header.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.7;
    z-index: 1;
    background-color: $bg-color;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
        &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 5rem;
        width: 1170px;
        z-index: 10;
        @include tr();
        @media screen and (max-width: 1024px) {
            width: 80%;
        }
        @media screen and (max-width: 768px) {
            width: 30%;
        }
        @media screen and (max-width: 425px) {
            padding-top: 1rem;
            display: none;
        }
        &--mobile {
            padding-top: 2rem;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            font-family: 'ProximaNova';
            font-weight: 700;
            .burger {
                width: 6rem;
                height: 6rem;
                font-size: 6rem;
                position: relative;
                right: 0%;
                color: $title-color;
                display: block;
                @include tr;
                &:hover .burger__wrap,
                &:focus .burger__wrap,
                &:active .burger__wrap {
                    left: -150%;
                    transition: left 1s;
                }
                &__wrap {
                    position: absolute;
                    left: 140%;
                    top: 10%;
                    width: 22rem;
                    height: 33rem;
                    background: $grid-color;
                    border: .5rem dashed $text-color;
                    border-radius: 6%;
                    transition: left 1.5s;
                    text-transform: uppercase;
                    &--link {
                        text-decoration: none;
                        font-family: 'ProximaNova';
                        font-weight: normal;
                        color: $bg-color
                    }
                }
            }
            @media screen and (min-width: 1024px) {
                display: none;
            }
            @media screen and (min-width: 768px) {
                display: none;
            }
        }
    }
    &__logo {
        height: 50px;
        width: 50px;
        fill: #f6f6f6;
        border: 1px solid transparent;
        border-radius: 50%;
    }
    &__icon {
        height: 50px;
        width: 37.5px;
        @include tr();
        &:hover,
        &:focus,
        &:active {
            fill: $bg-color;
        }
    }
    &__links {
        width: 60%;
        display: flex;
        justify-content: space-between;
    }
    &__link {
        font-family: 'ProximaNova';
        font-weight: 700;
        outline: none;
        margin-left: 3rem;
        text-decoration: none;
        color: #fff;
        font-size: 2.4rem;
        font-weight: 500;
        text-transform: uppercase;
        @include tr();
        &:hover,
        &:focus,
        &:active {
            text-shadow: 4px 4px 2px $bg-color;
            transform: scale(1.2);
        }
    }
    &__block {
        text-align: center;
        margin: 0 auto;
        padding-top: calc(100vh - 80vh);
        @media screen and (max-width: 1024px) {
            width: 70%;
        }
        @media screen and (max-width: 425px) {
            padding-top: 20%;
    }
    }
    &__title {
        text-transform: uppercase;
        font-family: 'ProximaNova';
        font-weight: 700;
        font-size: 7.2rem;
        color: $title-color;
        margin: 0;
        @media screen and (max-width: 1024px) {
            font-size: 4rem;
        }
    }
    &__subtitle {
        font-family: 'PT Sans', sans-serif;
        color: $title-color;
        font-size: 3rem;
        font-style: italic;
        margin: 0;
        @media screen and (max-width: 1024px) {
            font-size: 2rem;
        }
    }
}






//--------------------------------------------------ABOUT
.about {
    background-color: $body-color;
    padding: 120px 0;
    @media screen and (max-width: 425px) {
        padding-top: 10%;
}
    &__wrap {
        display: flex;
        @media screen and (max-width: 425px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__pic {
        background-image: url(../img/about/about-bg.jpg);
        width: 30%;
        min-width: 235px;
        height: 555px;
        background-size: cover;
        overflow: hidden;
        text-align: center;
        padding: 70px 60px;
        color: #fefbfc;
        text-transform: uppercase;
        opacity: 0.7;
        z-index: 1;
        background-color: $bg-color;
        background-blend-mode: overlay;
        background-repeat: no-repeat;
        @media screen and (max-width: 425px) {
            height: 20%;
            min-width: 340px;
        }
    }
    &__img {
        width: 60px;
        height: 60px;
        @include tr();
    }
    &__title {
        margin: 40px 0 0 0;
        font-size: 3.6rem;
        font-family: ProximaNova;
    }
    &__desc {
        width: 70%;
        padding: 75px 5% 0 10%;
        font-family: 'PT Sans', sans-serif;
        font-size: 2rem;
        line-height: 1.2;
        color: $text-color;
        @media screen and (max-width: 425px) {
            padding: 10% 5% 0 5%;
            width: 98%;
        }
    }
    &__text {
        &:last-of-type {
            margin: 30px 0 0 0;
        }
        &--bold {
            font-weight: bold;
        }
        &--italic {
            font-style: italic;
        }
    }
}

.btn {
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    display: block;
    width: 200px;
    padding: 15px 5px;
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    text-decoration: none;
    color: $text-color;
    border: 2px solid $text-color;
    @media screen and (max-width: 425px) {
        margin-top: 20%;
    }
    @include tr();
    &:hover,
    &:focus,
    &:active {
        background-color: $text-color;
        color: $title-color;
    }
}









//--------------------------------------------------SLIDERS
.slider-one,
.slider-two {
        height: 100%;
        width: 100%;
        position: relative;
    }
.item {
    padding: 145px 15px 0 15px;
    outline: none;

}

//--------------------------------------------------DOTS
.slick-dots {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    bottom: -11%;
    transform: translate(-50%, -50%);
    li {
        display: inline-block;
        margin: 0 5px;
    }

    button {
        outline: none;
        background-color: transparent;
        font-size: 0;
        width: 10px;
        height: 10px;
        padding: 0;
        border: 1px solid #fff;
        border-radius: 50%;
        cursor: pointer;
        @include tr();
        &:hover,
        &:active,
        &:focus {
            background-color: #fff;
        }
    }
    .slick-active button {
        background-color: #fff;
    }
}

//--------------------------------------------------ARROWS
.slick-arrow {
    position: absolute;
    width: 4rem;
    height: 4rem;
    display: inline-block;
    border: none;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    outline: none;
    font-size: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    @include tr();
    cursor: pointer;
    color: $body-color;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjQwLjgyMyAyNDAuODIzIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNDAuODIzIDI0MC44MjM7IiB4bWw6c3BhY2U9InByZXNlcnZlIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiI+PGc+PGc+Cgk8cGF0aCBpZD0iQ2hldnJvbl9SaWdodF8xXyIgZD0iTTE4My4xODksMTExLjgxNkw3NC44OTIsMy41NTVjLTQuNzUyLTQuNzQtMTIuNDUxLTQuNzQtMTcuMjE1LDBjLTQuNzUyLDQuNzQtNC43NTIsMTIuNDM5LDAsMTcuMTc5ICAgbDk5LjcwNyw5OS42NzFsLTk5LjY5NSw5OS42NzFjLTQuNzUyLDQuNzQtNC43NTIsMTIuNDM5LDAsMTcuMTkxYzQuNzUyLDQuNzQsMTIuNDYzLDQuNzQsMTcuMjE1LDBsMTA4LjI5Ny0xMDguMjYxICAgQzE4Ny44ODEsMTI0LjMxNSwxODcuODgxLDExNi40OTUsMTgzLjE4OSwxMTEuODE2eiIgZGF0YS1vcmlnaW5hbD0iIzAwMDAwMCIgY2xhc3M9ImFjdGl2ZS1wYXRoIiBkYXRhLW9sZF9jb2xvcj0iIzAwMDAwMCIgc3R5bGU9ImZpbGw6I0RFRERFMyI+PC9wYXRoPgoJPGc+Cgk8L2c+Cgk8Zz4KCTwvZz4KCTxnPgoJPC9nPgoJPGc+Cgk8L2c+Cgk8Zz4KCTwvZz4KCTxnPgoJPC9nPgo8L2c+PC9nPiA8L3N2Zz4=);
    &:hover,
    &:active {
        transform: translateY(-50%) scale(1.3);
        filter: drop-shadow(0px 0px 5px $bg-color);
    }
    &.slick-prev {
        left: -5%;
        transform: translateY(-50%) rotate(180deg);
        @media screen and (max-width: 1024px) {
            margin-left: 5%;
        }
        @media screen and (max-width: 425px) {
            top: 110%;
        }
        &:hover,
        &:active  {
            transform: translateY(-50%) rotate(180deg) scale(1.3);
        }
    }
    &.slick-next {
        right: -5%;
        @media screen and (max-width: 1024px) {
            margin-right: 5%;
        }
        @media screen and (max-width: 425px) {
            top: 110%;
        }
    }
    
}
.arrow {
    position: absolute;
    width: 4rem;
    height: 4rem;
    display: inline-block;
    border: none;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    outline: none;
    background-position: center;
    background-repeat: no-repeat;
    @include tr();
    cursor: pointer;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjQwLjgyMyAyNDAuODIzIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNDAuODIzIDI0MC44MjM7IiB4bWw6c3BhY2U9InByZXNlcnZlIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgY2xhc3M9IiI+PGc+PGc+Cgk8cGF0aCBpZD0iQ2hldnJvbl9SaWdodF8xXyIgZD0iTTE4My4xODksMTExLjgxNkw3NC44OTIsMy41NTVjLTQuNzUyLTQuNzQtMTIuNDUxLTQuNzQtMTcuMjE1LDBjLTQuNzUyLDQuNzQtNC43NTIsMTIuNDM5LDAsMTcuMTc5ICAgbDk5LjcwNyw5OS42NzFsLTk5LjY5NSw5OS42NzFjLTQuNzUyLDQuNzQtNC43NTIsMTIuNDM5LDAsMTcuMTkxYzQuNzUyLDQuNzQsMTIuNDYzLDQuNzQsMTcuMjE1LDBsMTA4LjI5Ny0xMDguMjYxICAgQzE4Ny44ODEsMTI0LjMxNSwxODcuODgxLDExNi40OTUsMTgzLjE4OSwxMTEuODE2eiIgZGF0YS1vcmlnaW5hbD0iIzAwMDAwMCIgY2xhc3M9ImFjdGl2ZS1wYXRoIiBkYXRhLW9sZF9jb2xvcj0iIzAwMDAwMCIgc3R5bGU9ImZpbGw6IzdBNzQ3NSI+PC9wYXRoPgoJPGc+Cgk8L2c+Cgk8Zz4KCTwvZz4KCTxnPgoJPC9nPgoJPGc+Cgk8L2c+Cgk8Zz4KCTwvZz4KCTxnPgoJPC9nPgo8L2c+PC9nPiA8L3N2Zz4=);
    &--left {
        left: -8%;
        transform: translateY(-50%) rotate(180deg);
        @media screen and (max-width: 1024px) {
            left: -6%;
        }
        @media screen and (max-width: 425px) {
            left: -12%;
        }
        &:hover,
        &:active  {
            transform: translateY(-50%) rotate(180deg) scale(1.3);
        }
    }
    &--right {
        right: -8%;
        @media screen and (max-width: 1024px) {
            right: -6%;
        }
        @media screen and (max-width: 425px) {
            right: -12%;
        }
    }
} 





//--------------------------------------------------SERVICES
.services {
    background-color: $body-color;
    font-family: 'PT Sans', sans-serif;
    &__wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
        }
        @media screen and (max-width: 425px) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            width: 80%;
            margin: 0 auto;
        }
    }
    &__item {
        position: relative;
        text-align: center;
        padding: 100px 65px;
        min-height: 400px;
        @media screen and (max-width: 768px) {
            padding: 20px 12px;
        }
        @media screen and (max-width: 425px) {
            padding: 0;
        }
        &--design {
            background-color: $grid-color;
            grid-area: 1 / 1 / 2 / 2;
            @include tr();
            @media screen and (max-width: 768px) {
                height: 200px;
            }
            @media screen and (max-width: 425px) {
                grid-area: 1 / 1 / 2 / 2;
            }
            &:hover,
            &:focus {
                -webkit-box-shadow: inset 0px 0px 75px 5px $text-color;
                -moz-box-shadow: inset 0px 0px 75px 5px $text-color;
                box-shadow: inset 0px 0px 75px 5px $text-color;
            }
        }
        &--web {
            grid-area: 1 / 2 / 2 / 3;
            @include tr();
            @media screen and (max-width: 768px) {
                height: 200px;
            }
            @media screen and (max-width: 425px) {
                grid-area: 2 / 1 / 3 / 2;
            }
            &:hover,
            &:focus {
                -webkit-box-shadow: inset 0px 0px 75px 5px $bg-color;
                -moz-box-shadow: inset 0px 0px 75px 5px $bg-color;
                box-shadow: inset 0px 0px 75px 5px $bg-color;
            }
        }
        &--seo {
            grid-area: 2 / 1 / 3 / 2;
            @include tr();
            @media screen and (max-width: 768px) {
                height: 200px;
            }
            @media screen and (max-width: 425px) {
                grid-area: 3 / 1 / 4 / 2;
                background-color: $grid-color;
            }
            &:hover,
            &:focus {
                -webkit-box-shadow: inset 0px 0px 75px 5px $bg-color;
                -moz-box-shadow: inset 0px 0px 75px 5px $bg-color;
                box-shadow: inset 0px 0px 75px 5px $bg-color;
            }
        }
        &--mob {
            grid-area: 4 / 2 / 4 / 5;
            background-color: $grid-color;
            @include tr();
            @media screen and (max-width: 768px) {
                height: 200px;
            }
            @media screen and (max-width: 425px) {
                grid-area: 4 / 1 / 5 / 2;
                background-color: $body-color;
            }
            &:hover,
            &:focus {
                -webkit-box-shadow: inset 0px 0px 75px 5px $text-color;
                -moz-box-shadow: inset 0px 0px 75px 5px $text-color;
                box-shadow: inset 0px 0px 75px 5px $text-color;
            }
        }
        &--services {
            grid-area: 1 / 3 / 4 / 4;
            padding: 115px 15px;
            background-image: url(../img/services/service-bg.jpg);
            background-size: cover;
            background-position-x: 70%;
            background-repeat: no-repeat;
            color: $title-color;
            opacity: 0.8;
            z-index: 1;
            background-color: $bg-color;
            background-blend-mode: overlay;
            background-repeat: no-repeat;
            @media screen and (max-width: 768px) {
                grid-area: 3 / 1 / 3 / 3;
                height: 200px;
                padding: 80px;
            }
            @media screen and (max-width: 425px) {
                grid-area: 5 / 1 / 6 / 2;
                padding: 60px 10px 10px 10px;
            }
            &:last-child {
                font-weight: 700; 
                font-style: normal;
            }
            @include tr();
            &:hover,
            &:focus {
                -webkit-box-shadow: inset 0px 0px 100px 5px $text-color;
                -moz-box-shadow: inset 0px 0px 100px 5px $text-color;
                box-shadow: inset 0px 0px 100px 5px $text-color;
            }
        }
    }
    &__title {
        font-size: 2.4rem;
        margin: 10px 0 5px 0;
        &--services {
            font-size: 3.5rem;
            font-family: ProximaNova;
            font-weight: 400;
            @media screen and (max-width: 768px) {
                font-size: 4.5rem;
            }
        }
    }
    &__subtitle {
        padding: 0 25px;
        font-size: 1.8rem;
        font-style: italic;
        line-height: 1.2;
        padding: 0 90px;
        &--services {
            padding: 0;
            margin: 110px 0 0 0;
            @media screen and (max-width: 768px) {
                margin: 10px;
            }
            @media screen and (max-width: 425px) {
                margin: 0;
            }
        }
    }
    &__icon {
        width: 75px;
        height: 60px;
        &--font {
            width: 200px;
            height: 150px;
        } 
    }
    &__card {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 1s;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
        &--text {
            margin: 0;
            text-align: left;
        }
        &--font, 
        &--face {
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            backface-visibility: hidden; 
        }
        &--font {
            padding: 10% 5%;
            max-height: 310px;
            text-overflow: elipsis;
            overflow: hidden;
            transform: rotateY( 180deg );
        }
        &--face {
            padding-top: 20%;
        }
    }
}


//--------------------------------------------------WORKS
.works {
    background-color: $bg-color;
    background-image: url(../img/works/bgFog.jpg);
    background-size: cover;
    color: $title-color;
    padding-bottom: 5.6rem;
    padding-top: 5rem;
    background-repeat: no-repeat;
    @media screen and (max-width: 425px) {
        padding-top: 3rem;
    }
    &__header {
        font-family: ProximaNova, sans-serif;
        font-weight: bold;
        font-size: 3.6rem;
        text-align: center;
        margin: 0 auto;
        text-transform: uppercase;
    }
    &__icon {
        height: 7rem;
        width: 7rem;
        @media screen and (max-width: 425px) {
            width: 5rem;
            height: 5rem;
        }
    }
    &__title {
        color: $title-color;
        padding: 0;
        margin: 0 auto;
        @media screen and (max-width: 425px) {
            font-size: 4rem;
        }
    }
    &__main {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__img {
        max-width: 730px;
        max-height: 550px;
        @media screen and (max-width: 768px) {
            max-width: 530px;
            max-height: 350px;
        }
        @media screen and (max-width: 425px) {
            max-width: 460px;
            max-height: 320px;
        }
        @include tr();
        &:hover,
        &:active,
        &:focus {
            -webkit-box-shadow: 0px 0px 10px 3px $title-color;
            -moz-box-shadow: 0px 0px 10px 3px $title-color;
            box-shadow: 0px 0px 10px 3px $title-color;
        }
    }
    .btn {
        border-color: $title-color;
        color: $title-color;
        margin-top: 80px;
    }
}





//--------------------------------------------------TEAM
.team {
    text-align: center;
    color: $text-color;
    padding: 55px 0 100px 0;
    background-color: $body-color;
    @media screen and (max-width: 425px) {
        padding: 30px 0 50px 0;
    }
    &__title {
        text-transform: uppercase;
    }
    &__items {
        margin-top: 50px;
        padding: 0 30px;
    }
    &__wrap {
        &--avatar {
            width: 260px;
            height: 260px;
            border-radius: 50%;
            border: 15px solid $body-color;
            overflow: hidden;
            position: absolute;
            top: -40%;
        }
        &--social {
            padding: 20px 42px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            background-color: $main-color;
        }
        &--short {
            padding: 20px 92px;
            @media screen and (max-width: 768px) {
                padding: 20px 62px;
            }
        }
        &--footer {
            width: 30rem;
            padding: 0;
            margin-left: 25px;
            @media screen and (max-width: 425px) {
                margin: 0;
            }
        }
    } 
    &__skills {
        font-family: 'PT Sans', sans-serif;
        margin: 35px 50px;
        font-size: 2.4rem;
        font-style: italic;
    }
    &__name {
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
        color: $main-color;
        font-size: 2.4rem;
        padding: 0 5px;
        max-height: 65px;
        overflow: hidden;
    }
    &__link {
        padding-top: 2px;
        text-decoration: none;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 1px solid transparent;
        background-color: $body-color;
        text-align: center;
        @include tr;
        &:hover,
        &:active,
        &:focus {
            transform: scale(1.2);
            background-color:  $bg-color;
            border-color: $body-color;
        }
        &:hover .fab,
        &:active .fab,
        &:focus .fab {
            color: $body-color;
        }
        .fab {
            color:  $main-color;
            @include tr;
        }
    }
    .item__team {
        padding-top: 165px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #fff;
        position: relative;
        text-align: center;
    }
}





//--------------------------------------------------MAP
.contact {
    background-color: $bg-color;
    position: relative;
    overflow: hidden;
    .icon {
        width: 50px;
        height: 60px;
        padding-left: 20px;
        @media screen and (max-width: 768px) {
            padding: 0;
        }
        @media screen and (max-width: 425px) {
            left: 40%;
        }
    }
    &__icon {
        position: absolute;
        right: 45%;
        top: 20px;
        text-align: center;
        @media screen and (max-width: 768px) {
            right: 35%;
            margin-top: -5px;
        }
        @media screen and (max-width: 425px) {
            right: 25%;
        }
        &--phone {
            width: 40px;
            height: 40px;
        }
        &--addr {
            width: 40px;
            height: 40px;
        }
    }
    &__title {
        color: $title-color;
        padding: 0;
        margin: 0 auto;
        padding-top: 80px;
        text-transform: uppercase;
    } 
    &__address,
    &__phone {
        font-family: 'PT Sans', sans-serif;
        width: 350px;
        position: absolute; 
        right: -255px;
        display: flex;
        justify-content: center;
        transition: transform ease-in .5s;
        cursor: pointer;
        @media screen and (max-width: 1024px) {
            right: -25%;
        }
        @media screen and (max-width: 768px) {
            right: -33%;
        }
        @media screen and (max-width: 425px) {
            right: -60%;
        }
        &:hover,
        &:focus {
            transform: translateX(-230px);
        }
    }
    &__address {
        top: 15%;
    }
    &__phone {
        top: 25%;   
    }
    &__wrap,
    &__text {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $bg-color;
        width: 30%;
        height: 90px;
        &--icon {
            background-color: $main-color;
            width: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__text {
        color: $text-color;
        text-align: center;
        margin: 0;
        height: 90px;
        width: 70%;
        line-height: 1;
        align-self: center;
        background-color: $input-color;
        opacity: .7;
        text-decoration: none;
    }
}
.map {
    background-color: $main-color;
    height: 900px;
    width: 100%;
    opacity: .5;
    padding-bottom: 55px;
}
.hide {
    display: none;
}
.form {
    overflow: hidden;
    width: 860px;
    max-width: 70%;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: 425px) {
        bottom: 20%;
        flex-direction: column;
    }
    &__input,
    &__text {
        color: $text-color;
        position: relative;
        outline: none;
        border: none;
        border-radius: 5px;
        width: 45%;
        background-color: $input-color;
        padding: 20px 25px;
        @include tr;
        transition: transform  linear .2s;
        @media screen and (max-width: 425px) {
            width: 100%;
        }
        @media screen and (max-width: 425px) {
            margin-top: 1rem;
        }
        &:hover {
           background-color: $input-color; 
           opacity: .7;
        }
        &:active +.form__star,
        &:focus +.form__star {
            transform: translateX(1000%);
        }
    }    
    &__text {
        width: 100%;
        height: 20rem;
        padding: 25px;
        margin-top: 25px;
        @media screen and (max-width: 425px) {
            height: 50%;
        }
    }
    &__star {
        position: absolute;
        top: 4%;
        color: $body-color;
        font-weight: 400;
        font-style: italic;
        font-family: 'PT Sans', sans-serif;
        @include tr;
        &:after {
            content: ' *';
            color: #000;
        }
        &--email {
            left: 60%;
            @media screen and (max-width: 425px) {
                left: 4%;
                top: 24%;
            }
        }
        &--name {
            left: 4%;
            @media screen and (max-width: 425px) {
                left: 4%;
                top: 5%;
            }
        }
        &--text {
            left: 4%;
            top: 27%;
            @media screen and (max-width: 425px) {
                left: 4%;
                top: 46%;
            }
        }
    }
    &__btn {
        margin: 55px auto 0 auto;
        cursor: pointer;
        background-color: $main-color;
        border: none;
        border-bottom: 4px solid #8783b0;
        border-radius: 5px;
        padding: 25px 5px 21px 5px;
        width: 295px;
        text-transform: uppercase;
        color: $body-color;
        font-weight: bold;
        @include tr();
        @media screen and (max-width: 768px) {
            margin: 55px auto 0 0;
        }
        @media screen and (max-width: 425px) {
            margin: 25px auto 0 auto;
        }
        &:hover,
        &:focus,
        &:active {
            text-shadow: 1px 1px 2px $text-color;
            border-bottom: 4px solid $bg-color;
        }
    }
}

.scroll-btn {
    width: 84px;
    height: 84px;
    position: absolute;
    background: $main-color url(../img/arrow-top.svg) no-repeat center;
    opacity: .6;
    left: 87%;
    bottom: 9%;
    @include tr;
    @media screen and (max-width: 1024px) {
        left: 77%;
    }
    @media screen and (max-width: 768px) {
        left: 74%;
    }
    @media screen and (max-width: 425px) {
        left: 42%;
        bottom: 2.7%;
    }
    &:hover,
    &:active {
        opacity: 1;
        background-color: $bg-color;
    }   
} 




//--------------------------------------------------FOOTER
.footer {
    padding: 7.5rem 3rem;
    background-color: $main-color;
    @media screen and (max-width: 425px) {
        padding: 3.5rem 2rem 1rem 2rem;
    }
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        @media screen and (max-width: 425px) {
            flex-direction: column-reverse;
            align-items: center;
        }
    }
    &__copyright {
        font-family: 'PT Sans', sans-serif;
        color: $title-color;
        @media screen and (max-width: 425px) {
            margin: 3.8rem 0 0 0;
        }
    }
    &__developer {
        display: inline-block;
        text-decoration: none;
        color: $title-color;
        font-weight: bold;
        cursor: pointer;
        @include tr();
        &:hover,
        &:focus,
        &:active {
            height: 50px;
            transform: translateY(-30px) scale(1.7);
            color: $title-color;
            text-shadow: 3px 3px 1px $bg-color;
        }
    }
}